## Q1. Write a program to Calculation Electricity Bill (Only if Statement)
using only if statement? (accept number of unit from user)
according to the following criteria:

Unit                         Price
First 100 units              no charge
Next 100 units               Rs 5 per unit
After 200 units              Rs 10 per unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
For first 100 no charges
Now you have 250 unit remaining
100-200 you need to pay – 100*5 = 500
Now 200-100 you need to pay 150*10 = 1500
Total = 500+1500 = 2000

In [3]:
units = int(input("Enter electricity units used: "))
bill = 0

if units > 100:
    if units <= 200:
        bill = (units - 100) * 5
    else:
        bill = 100 * 5 + (units - 200) * 10

print("Total bill is Rs", bill)

Enter electricity units used:  256

Total bill is Rs 1060

## Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:

Marks                  Grade
> 90                   A
> 80 and <= 90         B
>= 60 and <= 80        C
below 60               D

In [4]:
percentage = float(input("Enter your percentage: "))

if percentage > 90:
    print("Grade: A")
elif percentage > 80:
    print("Grade: B")
elif percentage >= 60:
    print("Grade: C")
else:
    print("Grade: D")

Enter your percentage:  80

Grade: C

## Q3. Accept the age of 4 people and display the youngest one?

In [5]:
a = int(input("Enter age of person 1: "))
b = int(input("Enter age of person 2: "))
c = int(input("Enter age of person 3: "))
d = int(input("Enter age of person 4: "))

youngest = a
if b < youngest:
    youngest = b
if c < youngest:
    youngest = c
if d < youngest:
    youngest = d

print("The youngest age is:", youngest)

Enter age of person 1:  12
Enter age of person 2:  56
Enter age of person 3:  17
Enter age of person 4:  90

The youngest age is: 12

## Q4. A company decided to give bonus to employee
according to following criteria:

Time period of Service              Bonus

More than 10 years                  10%

>=6 and <=10                         8%

Less than 6 years                    5%

Ask user for their salary and years of service and print the
net bonus amount?

In [6]:
salary = float(input("Enter your salary: "))
years = int(input("Enter years of service: "))

bonus = 0

if years > 10:
    bonus = 0.10 * salary
elif years >= 6:
    bonus = 0.08 * salary
else:
    bonus = 0.05 * salary

print("Bonus amount is:", bonus)

Enter your salary:  40
Enter years of service:  2

Bonus amount is: 2.0

## Q5. Accept three numbers from the user and display the second largest number?

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    if a < c:
        second = a
    elif b > c:
        second = b
    else:
        second = c
else:
    if b < c:
        second = b
    elif a > c:
        second = a
    else:
        second = c

print("Second largest number is:", second)

Enter first number:  23
Enter second number:  24
Enter third number:  25

Second largest number is: 24

## Q6. Accept the marked price from the user and calculate
the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price            Discount
>10000                  20%
>7000 and <=10000       15%
<=7000                  10%

In [8]:
price = float(input("Enter marked price: "))

if price > 10000:
    discount = 0.20 * price
elif price > 7000:
    discount = 0.15 * price
else:
    discount = 0.10 * price

net_price = price - discount
print("Net amount to pay:", net_price)

Enter marked price:  500

Net amount to pay: 450.0

## Q7. Accept the marks of English, Math and Science, Social Studies Subject and display the stream allotted according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities

In [10]:
eng = int(input("Enter English marks: "))
math = int(input("Enter Math marks: "))
sci = int(input("Enter Science marks: "))
sst = int(input("Enter Social Studies marks: "))

if eng > 80 and math > 80 and sci > 80 and sst > 80:
    print("Stream Allotted: Science Stream")
elif eng > 80 and math > 50 and sci > 50:
    print("Stream Allotted: Commerce Stream")
elif eng > 80 and sst > 80:
    print("Stream Allotted: Humanities")
else:
    print("No stream allotted based on given criteria")

Enter English marks:  85
Enter Math marks:  81
Enter Science marks:  89
Enter Social Studies marks:  82

Stream Allotted: Science Stream

## Q8. Write a program to display "Hello" if a number entered by user is a multiple of five, otherwise print "Bye"?

In [12]:
num = int(input("Enter a number: "))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number:  10

Hello

## Q9. Write a program to check whether the last digit of a number (entered by user) is divisible by 3 or not?

In [15]:
num = int(input("Enter a number: "))
last_digit = num % 10

if last_digit % 3 == 0:
    print("Last digit is divisible by 3")
else:
    print("Last digit is not divisible by 3")

Enter a number:  60

Last digit is divisible by 3

## Q10. Three-Digit Number Check

In [16]:
num = int(input("Enter a number: "))

if num >= 100 and num <= 999:
    print("It is a three-digit number")
else:
    print("It is not a three-digit number")

Enter a number:  67

It is not a three-digit number