1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [ ]:
Values:'hello', -87.8, 6
Expression:*, -, /, +

2. What is the difference between string and variable?

In [ ]:
String: 
A string is a value.
It is a sequence of characters written inside quotes.eg-'hello', "Shweta", '123

Variable:
A variable is a name used to store data (like a string, number, etc.).
It does not have quotes.eg-name="Shweta"

3. Describe three different data types.

In [ ]:
Three different data types are:

1. Integer (int)
Used to store whole numbers (no decimal).
Example: 5, -10, 200

 2. Float (float)
Used to store decimal numbers or fractions.
Example: 3.14, -87.5, 0.0

3. String (str)
Used to store text or characters.
Written inside single (' ') or double (" ") quotes.
Example: 'Shweta', "Python is fun"

4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is made up of:
Values – like numbers or strings (5, 'hello')
Variables – like x, name
Operators – like +, -, *, /
Function calls – like len(name), sum([1,2,3])

All expressions are evaluated to produce a single result (value)

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [ ]:
spam = 10
This is a statement, not an expression. 

Expression: An expression is any piece of code that produce a value.
eg. 2+3
    
Statement: A statement is a complete line of code that does something.
A statement may contain expression, but a statement

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [ ]:
bacon = 22
bacon = bacon+1
print(bacon)

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam'*3

In [ ]:
print('spam' + 'spamspam')
print('spam'*3)

both have the same value -spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
eggs is a valid variable because it Starts with a letter

100	is invalid because it Starts with a number.

Note-Variable names must begin with a letter (a–z, A–Z) or an underscore _, not a digit

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [ ]:
1.Convert to Integer - int()
2.Convert to Floating-point - float()
3.Convert to String - str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos'

In [ ]:
This expression cause an error because 99 is an integer data type and string + int is not allowed.
You can only join strings with other strings, not with numbers directly.

You need to convert 99 to a string using the str() function:
'I have eaten ' + str(99) + ' burritos'